sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c0517b65-3560-4658-9bd9-0381079e57ce" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="66113f75-7d2b-4a45-9bba-d947f95104f1" >
		<http:listener doc:name="Listener" doc:id="04030093-d6b8-4695-9168-7050bed1357e" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="e892f0cc-564d-4749-981f-97e7a20793b7" message="start"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="e63c6de1-676c-4720-94b8-a0c23eaa60b3" />
		<logger level="INFO" doc:name="Logger" doc:id="e6380def-8bd5-4bb9-95f9-42b4292eeaf9" message="end"/>
	</flow>
</mule>
